
/* Basic toast styles */

		#toastContainer {
			visibility: hidden;
			/* Hidden by default. Visible on click */
			max-width: 50vw;
			min-width: 300px;
			/* Set a default minimum width 
			margin-left: -25vw;*/
			/* Divide value of min-width by 2 */
			background-color: #fff;
			/* Black background color */
			color: #000;
			/* White text color */
			text-align: center;
			/* Centered Text */
			border-radius: 20px;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			/* Round Corners */
			padding: 10px;
			/* Padding */
			position: fixed;
			/* Black background color */
			z-index: 4;
			/* just in case */
			left: 50%;
			/* Center Toast */
			top: 30px;
			/* 30px from the top */
			transform: translate(-50%,30px);
			-webkit-transform: translate(-50%,30px);
			-ms-transform: translate(-50%,30px);
			-moz-transform: translate(-50%,30px);
			-o-transform: translate(-50%,30px);
			/* Force center */
			transition: all 
		}

		#toastContainer.show{
			/* Show the snackbar when needed */
			visibility: visible;
			/* Add 
				animation: Take 0.5 seconds to fade in and out the snackbar. 
		 		However, 
				delay the fade out process for 2.5 seconds 
			*/
			-webkit-animation: fadein 0.5s ease-in, fadeout 0.5s 1.5s ease-out;
			-moz-animation: fadein 0.5s ease-in, fadeout 0.5s 1.5s ease-out;
			-ms-animation: fadein 0.5s ease-in, fadeout 0.5s 1.5s ease-out;
			-o-animation: fadein 0.5s ease-in, fadeout 0.5s 1.5s ease-out;
			animation: fadein 0.5s ease-in, fadeout 0.5s 1.5s ease-out;
		}

		/* Fade In Effect */
		@-webkit-keyframes fadein {
			from {
				top: -30px;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    			filter: alpha(opacity=0);
    			-moz-opacity: 0; 
    			opacity: 0;
			}
			to {
				top: 30px;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    			filter: alpha(opacity=1);
    			-moz-opacity: 1; 
    			opacity: 1;
			}
		}
		@-moz-keyframes fadein {
			from {
				top: -30px;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    			filter: alpha(opacity=0);
    			-moz-opacity: 0; 
    			opacity: 0;
			}
			to {
				top: 30px;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    			filter: alpha(opacity=1);
    			-moz-opacity: 1; 
    			opacity: 1;
			}
		}
		@-ms-keyframes fadein {
			from {
				top: -30px;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    			filter: alpha(opacity=0);
    			-moz-opacity: 0; 
    			opacity: 0;
			}
			to {
				top: 30px;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    			filter: alpha(opacity=1);
    			-moz-opacity: 1; 
    			opacity: 1;
			}
		}
		@-o-keyframes fadein {
			from {
				top: -30px;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    			filter: alpha(opacity=0);
    			-moz-opacity: 0; 
    			opacity: 0;
			}
			to {
				top: 30px;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    			filter: alpha(opacity=1);
    			-moz-opacity: 1; 
    			opacity: 1;
			}
		}
		@keyframes fadein {
			from {
				top: -30px;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    			filter: alpha(opacity=0);
    			-moz-opacity: 0; 
    			opacity: 0;
			}
			to {
				top: 30px;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    			filter: alpha(opacity=1);
    			-moz-opacity: 1; 
    			opacity: 1;
			}
		}
		/* Fade In Effect */

		/* Fade Out Effect */
		@-webkit-keyframes fadeout {
			from {
				top: 30px;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    			filter: alpha(opacity=1);
    			-moz-opacity: 1; 
    			opacity: 1;
			}
			to {
				top: -30px;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    			filter: alpha(opacity=0);
    			-moz-opacity: 0; 
    			opacity: 0;
			}
		}
		@-moz-keyframes fadeout {
			from {
				top: 30px;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    			filter: alpha(opacity=1);
    			-moz-opacity: 1; 
    			opacity: 1;
			}
			to {
				top: -30px;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    			filter: alpha(opacity=0);
    			-moz-opacity: 0; 
    			opacity: 0;
			}
		}
		@-ms-keyframes fadeout {
			from {
				top: 30px;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    			filter: alpha(opacity=1);
    			-moz-opacity: 1; 
    			opacity: 1;
			}
			to {
				top: -30px;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    			filter: alpha(opacity=0);
    			-moz-opacity: 0; 
    			opacity: 0;
			}
		}
		@-o-keyframes fadeout {
			from {
				top: 30px;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    			filter: alpha(opacity=1);
    			-moz-opacity: 1; 
    			opacity: 1;
			}
			to {
				top: -30px;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    			filter: alpha(opacity=0);
    			-moz-opacity: 0; 
    			opacity: 0;
			}
		}
		@keyframes fadeout {
			from {
				top: 30px;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    			filter: alpha(opacity=1);
    			-moz-opacity: 1; 
    			opacity: 1;
			}
			to {
				top: -30px;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    			filter: alpha(opacity=0);
    			-moz-opacity: 0; 
    			opacity: 0;
			}
		}
		/* Fade Out Effect */
